<head>
    <title>Login page</title>
  </head>
  
  <body>
    <div class="well login-box center-block">
      <img class="logo" src="http://www.dallasarboretum.org/assets/img/instagram-word.png"></img>
      <form name="login">
  
        <input type="text" class="form-control" placeholder="Username" name="userid" />
  
        <input type="password" class="form-control" id="pass" placeholder="Password" name="pswrd" />
        
        <input class="btn btn-primary" type="button" onclick="check(this.form)" value="Log in" />
    </div>
    </form>
    </div>
  </body>
  
  </html>